{% extends '_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load comment_tags %}
{% load i18n %}
{% load jalali_tags %}
{% load persian_translation_tags %}
{% load humanize %}


{% block page_title %}
    Product Detail : {{ product.title }}
|{% endblock %}

{% block content %}
    <!-- Main Wrapper Start -->
    <div class="wrapper">
        {% include 'topheader.html' with header_name=product.title %}

        <!-- Main Content Wrapper Start -->
        <div class="main-content-wrapper">
            <div class="page-content-inner ptb--80">
                <div class="container">
                    <div class="row no-gutters mb--80">
                        <div class="col-12 col-sm-4 product-main-image d-flex align-content-center">
                            {% if product.image %}
                                <img class="m-auto" style="max-height: 400px;" src="{{ product.image.url }}" alt="">
                            {% endif %}
                        </div>
                        <div class="col-12 col-sm-8 product-main-details mt-md--50">
                            <div class="product-summary pl-lg--30 pl-md--0 text-right p-4">
                                <h3 class="product-title mb--20">{{ product.title}}</h3>
                                <p class="product-short-description mb--20">
                                    {{ product.description|safe|truncatewords:20 }}
                                </p>
                                <div class="my-5 py-5 product-price-wrapper mb--25">
                                    <span class="money text-success">{{product.price|intcomma:False|translate_number}} تومان</span>
                                    <span class="price-separator">-</span>
                                    <span class="money old-price text-danger">۲۱۰,۰۰۰ تومان</span>
                                </div>
                                <div class="product-action d-flex align-items-sm-center align-content-center mb--30">
{#                                    <div class="quantity-wrapper d-flex justify-content-start">#}
{#                                        <div class="quantity">#}
{#                                            <input type="number" class="quantity-input" name="qty" id="qty" value="1" min="1">#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <button type="button" class="btn btn-small btn-bg-red btn-color-white btn-hover-2" onclick="window.location.href='cart.html'">#}
{#                                        {% trans 'Add to cart' %}#}
{#                                    </button>#}
                                    <form action="{% url 'cart:add_cart' product.id %}" method="POST">
                                        {% csrf_token %}
{#                                        {{ add_to_cart_form|crispy }}#}
                                        <div class="quantity-wrapper d-flex justify-content-start">
                                            <div class="quantity">
                                                <input type="number" class="quantity-input" name="quantity" id="qty" value="1" min="1" max="30">
                                            </div>
                                        <button type="submit" class="btn btn-small btn-bg-red btn-color-white btn-hover-2" >
                                            {% trans 'Add to cart' %}
                                        </button>
                                        </div>
                                    </form>
                                </div>
                                <div class="product-footer-meta mt-5 pt-5">
                                    <p><span class="m-0">دسته بندی ها:</span>
                                        <a href="shop.html">لباس</a>,
                                        <a href="shop.html">تابستانی</a>,
                                        <a href="shop.html">گرم</a>,
                                        <a href="shop.html">زنانه</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <div class="product-data-tab tab-style-3">
                                <div class="nav nav-tabs product-data-tab__head" id="product-tab" role="tablist">
                                    <a class="m-0 product-data-tab__link nav-link active" id="nav-description-tab" data-toggle="tab" href="#nav-description" role="tab" aria-selected="true">
                                        <span>{% trans 'Product Description' %}</span>
                                    </a>
                                    <a class="m-0 product-data-tab__link nav-link" id="nav-info-tab" data-toggle="tab" href="#nav-info" role="tab" aria-selected="true">
                                        <span>ویژگی ها</span>
                                    </a>
                                    <a class="m-0 product-data-tab__link nav-link" id="nav-reviews-tab" data-toggle="tab" href="#nav-reviews" role="tab" aria-selected="true">
                                        <span>{% trans 'Comments' %} ({{product.comments|only_active_comment|length|translate_number}})</span>
                                    </a>
                                </div>
                                <div class="tab-content product-data-tab__content" id="product-tabContent">
                                    <div class="tab-pane fade show active" id="nav-description" role="tabpanel" aria-labelledby="nav-description-tab">
                                        <div class="product-description text-justify">
                                            <p>{{ product.description|safe }}</p>
                                        </div>
                                    </div>
                                    <div class="tab-pane text-right" id="nav-info" role="tabpanel" aria-labelledby="nav-info-tab">
                                        <div class="table-content table-responsive">
                                            <table class="table shop_attributes">
                                                <tbody>
                                                    <tr>
                                                        <th>وزن</th>
                                                        <td>۴۳۰ گرم</td>
                                                    </tr>
                                                    <tr>
                                                        <th>سایز</th>
                                                        <td>XL</td>
                                                    </tr>
                                                    <tr>
                                                        <th>رنگ</th>
                                                        <td>
                                                            <a href="shop-sidebar.html">مشکی</a>,
                                                            <a href="shop-sidebar.html">سبز</a>,
                                                            <a href="shop-sidebar.html">قرمز</a>,
                                                            <a href="shop-sidebar.html">نارنجی</a>,
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="nav-reviews" role="tabpanel" aria-labelledby="nav-reviews-tab">
                                        <div class="product-reviews">
                                            <h3 class="review__title">{{product.comments|only_active_comment|length|translate_number}} نظر برای {{ product.title}}</h3>
                                            <ul class="review__list">
                                                {% for comment in product.comments.all|only_active_comment %}
                                                <li class="review__item">
                                                    <div class="review__container">
                                                        <div class="review__text">
                                                            <div class="d-flex flex-sm-row flex-row">
                                                                <img src="{% static 'img/others/comment-1.jpg' %}" alt="Review Avatar" class="review__avatar">
                                                                <div>
                                                                    <div class="review__meta" dir="ltr">
                                                                        <span class="review__published-date">{{ comment.datetime_created|to_jalali:'%Y/%m/%d ساعت %H:%M'|translate_number }}</span>
                                                                        <span class="review__dash">-</span>
                                                                        <strong class="review__author px-4">{{ comment.author.username }}</strong>
                                                                    </div>
                                                                    <div class="product-rating">
                                                                        <div class="m-0 star-rating star-five">
                                                                            <span>Rated <strong class="rating">{{ comment.stars }}</strong> out of 5</span>
                                                                        </div>
                                                            <p class="review__description text-right px-4">
                                                                {{ comment.body }}
                                                            </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                {% endfor %}
                                            </ul>
                                            <div class="review-form-wrapper">
                                                <div class="row">
                                                    <div class="border-top py-5 w-100"></div>
                                                    <div class="col-lg-8 m-auto">
                                                        {% if user.is_authenticated %}
                                                            <span class="reply-title pull-right">{% trans 'Write Your Comment' %}</span>
                                                            <br>
                                                            <form action="{% url 'comment_create' product.id %}"  method="POST">
                                                                {% csrf_token %}
                                                                {{ comment_form|crispy }}
                                                                <input type="submit" value="{% trans 'Submit' %}">
                                                            </form>
                                                        {% else %}
                                                            <p>{% trans 'To write comment please ' %}
                                                                <a href="{% url 'account_login' %}">{% trans 'Login' %}</a>
                                                            </p>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Main Content Wrapper End -->


    </div>
    <!-- Main Wrapper End -->

{% endblock %}